<html lang="en" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="fidn1.png"><!-- Major Browsers -->
    <!--[if IE]><link rel="SHORTCUT ICON" href="fidn1.ico"/><![endif]--><!-- Internet Explorer-->
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="./bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="./bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>
    <title>fidn</title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">


    <div class="navbar">
        <div class="nav-center">
            <a href="" ng-click="selectTab('All')"><img class="logo-img" src="fidn1.png"></a>
            <div ng-repeat="(tabName, _) in tabs" class="tab-button {{selectedTabName == tabName ? 'selected' : ''}} {{((documents | filter:withTab(tabName) | filter:{read:false}).length) == 0 ? 'empty' : ''}}" ng-click="selectTab(tabName)">
                {{tabName}} <span class="number-badge" ng-if="((documents | filter:withTab(tabName) | filter:{read:false}).length) > 0">({{(documents | filter:withTab(tabName) | filter:{read:false}).length}})</span>
            </div>
        </div>
    </div>

    <div class="nav-left">
        <input type="text" ng-model="search" >
    </div>
    <div class="nav-right" >
        <button id="mark-all-as-read-button" ng-if="(documents | filter:tabOrSearchFilter | filter:{read:false}).length > 0" ng-click="markFilteredAsRead()">Mark {{(documents | filter:tabOrSearchFilter | filter:{read:false}).length}} as read</button>
    </div>

    <div class="document-box {{document.read ? 'read' : ''}} {{document.isFlagged ? 'flagged' : ''}} {{document.isBad ? 'bad' : ''}}"
        ng-repeat="document in documents | filter:tabOrSearchFilter | filter:{read:false} | orderBy:'-publishedDate.epochSecond' | limitTo:100">
        <button class="read-button" ng-model="document.read" ng-click="setDocumentRead(document, true)" ng-if="!document.read" ></button>

        <div class="content-box">

            <div class="top-row">
                <div class="subject" ng-repeat="subject in document.subjects" ng-click="setSearch(subject)">
                    <a href="javascript:void(0);" >{{subject}}</a>
                </div>
                <!--<div class="tab" ng-if="document.tab" ng-click="selectTab(document.tab)"><a href="javascript:void(0);" >{{document.tab}}</a></div>-->
                <div class="feedName" ng-if="document.feed.name"><a href="{{document.feed.url}}">{{document.feed.name}}</a></div>
                <!--<div class="score" ng-if="document.score"> | {{document.score}}</div>-->
                <div class="category" ng-repeat="category in document.categories"> | <a href="{{category.url}}">{{category.name}}</a></div>
                <!--<div class="author" ng-if="document.author.name"> | <a href="{{document.author.url}}">{{document.author.name}}</a></div>-->
                <div class="time-since" ng-if="document.publishedDateShort"> | {{document.publishedDateShort}}</div>
            </div>



            <div class="title" ng-if="document.title"><a class="link" href="{{document.pageUrl}}" >{{document.title}}</a></div>
            <div class="text" ng-if="document.text && !document.html">{{document.text}}</div>


            <span class="htmlContent" ng-if="!document.imageUrl && document.videos.length == 0" ng-bind-html="$sce.trustAsHtml(document.html)"></span>
            <div class="image-box" ng-if="document.imageUrl && document.videos.length == 0">
                <a href="{{document.pageUrl}}">
                    <img class="image-box-image" src="{{document.imageUrl}}" />
                </a>
            </div>

            <a  ng-if="document.videos.length > 0" href="{{document.pageUrl}}">
                <video class="image-box" preload="auto" autoplay="autoplay" loop="loop" muted="muted" webkit-playsinline>
                    <source ng-repeat="v in document.videos" src="{{v.src}}" type="{{v.type}}">
                </video>
            </a>

        </div>
    </div>
</div>
</body>
</html>
