<html lang="en">
<head>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/animations.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="./bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="./bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="navbar">
        <input ng-model="searchText" placeholder="Search">
        {{(items | filter:searchText).length}} - limit = {{itemLimit}}
    </div>
    <div infinite-scroll="increaseLimit()" infinite-scroll-distance="15">
    <div class="item-box {{item.cssClass}} {{item.read ? 'read' : ''}}" 
        data-item="{{item}}" 
        ng-repeat="item in items | filter:searchText | limitTo:itemLimit | limitTo:1000"
        ng-hide="item.hide">
        

        <div class="input-box">
            <input class="read-input" type="checkbox" ng-model="item.read" ng-change="setDocumentRead(item, item.read)">
        </div>
        <div class="content-box">

            <div class="top-row">
                <div class="feedName" ng-if="item.feed.name"><a href="{{item.feed.url}}">{{item.feed.name}}</a></div>
                <div class="category" ng-if="item.category.name"> | <a href="{{item.category.url}}">{{item.category.name}}</a></div>
                <div class="author" ng-if="item.author.name"> | <a href="{{item.author.url}}">{{item.author.name}}</a></div>
                <div class="time-since"> | {{item.publishedDateShort}}</div>
            </div>


            <!--<input class="read-input" type="checkbox" ng-model="item.read">-->
            <div class="title" ng-if="item.title"><a href="{{item.pageUrl}}">{{item.title}}</a></div>
            <div class="text" ng-if="item.text && !item.html"><a href="{{item.pageUrl}}">{{item.text}}</a></div>


            <span class="htmlContent" ng-bind-html="$sce.trustAsHtml(item.html)"></span>
            <div ng-if="item.imageUrl" class="image-box">
                <a href="{{item.pageUrl}}">
                    <img class="image-box-image" src="{{item.imageUrl}}" ng-if="item.imageUrl" />
                </a>
            </div>

        </div>
        <div class="input-box right">
            <input class="read-input" type="checkbox" ng-model="item.read" ng-change="setDocumentRead(item, item.read)">
        </div>
    </div>
    </div>
</div>
</body>
</html>
