<html lang="en" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="fidn1.png"><!-- Major Browsers -->
    <!--[if IE]><link rel="SHORTCUT ICON" href="fidn1.ico"/><![endif]--><!-- Internet Explorer-->
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="./bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>
    <title>fidn</title>
</head>
<body>
<div ng-app="myApp" ng-controller="settingsCtrl">
    <div class="navbar">
        <div class="nav-center">
            <a href="/?user={{user}}"><img class="logo-img" src="fidn1.png"></a><br />
        </div>
    </div>

    <div>
        Coming soon: Edit subject rules using regex! Note that this will affect ALL users, so be careful when editing :)
    </div>

    <div style="background-color: WHITE;">
        <h1>Tab Rules</h1>

        <div ng-init="tabRule = {}">
            <span>Create new:</span>
            <span>Name</span>

            <input type="text"
                   ng-model="tabRule.name"
                   value="{{tabRule.name}}">

            <span>Expression</span>
            <input type="text"
                   ng-model="tabRule.expression"
                   value="{{tabRule.expression}}">

            <button ng-click="createTabRule(tabRule); tabRule = {}">Add</button>
        </div>

        <details>
            <summary>Tab Rules</summary>

            <table>
                <thead>
                <tr>
                    <td>
                        <a href="#" ng-click="tabSortType = 'id'; tabSortReverse = !tabSortReverse">
                            Id
                            <span ng-show="tabSortType == 'id' && tabSortReverse">&uarr;</span>
                            <span ng-show="tabSortType == 'id' && !tabSortReverse">&darr;</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="tabSortType = 'name'; tabSortReverse = !tabSortReverse">
                            Name
                            <span ng-show="tabSortType == 'name' && tabSortReverse">&uarr;</span>
                            <span ng-show="tabSortType == 'name' && !tabSortReverse">&darr;</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="tabSortType = 'expression'; tabSortReverse = !tabSortReverse">
                            Expression
                            <span ng-show="tabSortType == 'expression' && tabSortReverse">&uarr;</span>
                            <span ng-show="tabSortType == 'expression' && !tabSortReverse">&darr;</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="tabSortType = 'hideDocument'; tabSortReverse = !tabSortReverse">
                            Hide
                            <span ng-show="tabSortType == 'hideDocument' && tabSortReverse">&uarr;</span>
                            <span ng-show="tabSortType == 'hideDocument' && !tabSortReverse">&darr;</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="tabSortType = 'created'; tabSortReverse = !tabSortReverse">
                            Created
                            <span ng-show="tabSortType == 'created' && tabSortReverse">&uarr;</span>
                            <span ng-show="tabSortType == 'created' && !tabSortReverse">&darr;</span>
                        </a>
                    </td>
                </tr>
                </thead>
                <tr ng-repeat="tabRule in tabRules | orderBy:tabSortType:tabSortReverse">
                    <td style="color: #AAAAAA; width: 50px;">{{tabRule.id}}</td>
                    <td>
                        <input type="hidden" ng-init="tabRule.serverSideName = tabRule.name" ng-model="tabRule.serverSideName">
                        <input type="text"
                               ng-class="{'dirty':tabRule.name != tabRule.serverSideName}"
                               ng-model="tabRule.name"
                               value="{{tabRule.name}}">
                    </td>
                    <td>
                        <input type="hidden" ng-init="tabRule.serverSideExpression = tabRule.expression" ng-model="tabRule.serverSideExpression">
                        <input type="text"
                               ng-class="{'dirty':tabRule.expression != tabRule.serverSideExpression}"
                               ng-model="tabRule.expression"
                               value="{{tabRule.expression}}">
                    </td>
                    <td>
                        <input type="hidden" ng-init="tabRule.serverSideHideDocument = tabRule.hideDocument" ng-model="tabRule.serverHideDocument">
                        <input type="checkbox"
                               ng-class="{'dirty':tabRule.hideDocument != tabRule.serverSideHideDocument}"
                               ng-model="tabRule.hideDocument">
                    </td>
                    <td>{{tabRule.created | date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        <button
                                ng-class="{'dirty':tabRule.name != tabRule.serverSideName || tabRule.expression != tabRule.serverSideExpression}"
                                ng-click="putTabRule(tabRule); tabRule.serverSideName = tabRule.name; tabRule.serverSideExpression = tabRule.expression">Save</button>
                    </td>
                    <td>
                        <button ng-click="deleteTabRule(tabRule)">Delete</button>
                    </td>
                    <td style="color:WHITE;">
                        add(s, "{{tabRule.name}}", "{{tabRule.expression}}, {{tabRule.hideDocument}}");
                    </td>
                </tr>
            </table>
        </details>

    </div>

    <div style="background-color: WHITE;">
        <h1>Subject Rules</h1>

        <div ng-init="subjectRule = {}">
            <span>Create new:</span>
            <span>Name</span>

            <input type="text"
                   ng-model="subjectRule.name"
                   value="{{subjectRule.name}}">

            <span>Expression</span>
            <input type="text"
                   ng-model="subjectRule.expression"
                   value="{{subjectRule.expression}}">

            <button ng-click="createSubjectRule(subjectRule); subjectRule = {}">Add</button>
        </div>

        <details>
            <summary>Subject Rules</summary>

            <table>
                <thead>
                <tr>
                    <td>
                        <a href="#" ng-click="subjectSortType = 'id'; subjectSortReverse = !subjectSortReverse">
                            Id
                            <span ng-show="subjectSortType == 'id' && subjectSortReverse">&uarr;</span>
                            <span ng-show="subjectSortType == 'id' && !subjectSortReverse">&darr;</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="subjectSortType = 'name'; subjectSortReverse = !subjectSortReverse">
                            Name
                            <span ng-show="subjectSortType == 'name' && subjectSortReverse">&uarr;</span>
                            <span ng-show="subjectSortType == 'name' && !subjectSortReverse">&darr;</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="subjectSortType = 'expression'; subjectSortReverse = !subjectSortReverse">
                            Expression
                            <span ng-show="subjectSortType == 'expression' && subjectSortReverse">&uarr;</span>
                            <span ng-show="subjectSortType == 'expression' && !subjectSortReverse">&darr;</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="subjectSortType = 'created'; subjectSortReverse = !subjectSortReverse">
                            Created
                            <span ng-show="subjectSortType == 'created' && subjectSortReverse">&uarr;</span>
                            <span ng-show="subjectSortType == 'created' && !subjectSortReverse">&darr;</span>
                        </a>
                    </td>
                </tr>
                </thead>
                <tr ng-repeat="subjectRule in subjectRules | orderBy:subjectSortType:subjectSortReverse">
                    <td style="color: #AAAAAA; width: 50px;">{{subjectRule.id}}</td>
                    <td>
                        <input type="hidden" ng-init="subjectRule.serverSideName = subjectRule.name" ng-model="subjectRule.serverSideName">
                        <input type="text"
                               ng-class="{'dirty':subjectRule.name != subjectRule.serverSideName}"
                               ng-model="subjectRule.name"
                               value="{{subjectRule.name}}">
                    </td>
                    <td>
                        <input type="hidden" ng-init="subjectRule.serverSideExpression = subjectRule.expression" ng-model="subjectRule.serverSideExpression">
                        <input type="text"
                               ng-class="{'dirty':subjectRule.expression != subjectRule.serverSideExpression}"
                               ng-model="subjectRule.expression"
                               value="{{subjectRule.expression}}">
                    </td>
                    <td>{{subjectRule.created | date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        <button
                                ng-class="{'dirty':subjectRule.name != subjectRule.serverSideName || subjectRule.expression != subjectRule.serverSideExpression}"
                                ng-click="putSubjectRule(subjectRule); subjectRule.serverSideName = subjectRule.name; subjectRule.serverSideExpression = subjectRule.expression">Save</button>
                    </td>
                    <td>
                        <button ng-click="deleteSubjectRule(subjectRule)">Delete</button>
                    </td>
                    <td style="color:WHITE;">
                        add(s, "{{subjectRule.name}}", "{{subjectRule.expression}}");
                    </td>
                </tr>
            </table>
        </details>

    </div>

</div>
</body>
</html>
