

.ng-hide-add {

  -webkit-animation: lightSpeedOut 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: lightSpeedOut 0.5s;
  animation-fill-mode: forwards;
}

/* Can not get this to change element height :( maybe only use transition instead? */
@keyframes shrink {
  0% {
    opacity: 1;
    max-height: 100%;
  }
  1% {
    display: block;
    opacity: 1;
    transform-origin:left top;
    transform: scaleY(1);
    max-height: 99%;
  }
  100% {
    display: none;
    opacity: 0;
    transform-origin:left top;
    transform: scaleY(0);
  }
}

@-webkit-keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0) translate3d(0, -100px, 0) skewX(0deg);
    transform: scale(0) translate3d(0, -100px, 0) skewX(0deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
    height: 100px;
  }

  to {
    -webkit-transform: translate3d(200px, -1000px, 150px) skewX(0deg);
    transform: translate3d(200px, -1000px, 150px) skewX(0deg);
    opacity: 0;
    height: 0;
  }
}
