
body {
    background-color: #EEEEEE;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}

a:visited {
    /*color: black;*/
}

a:hover {
    text-decoration: underline;
}

.navbar {
    height: 30px;
    /*background-color: red;*/
    background-color: white;
    border-bottom: 1px solid #EEEEFF;
    alignment: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-box {
    padding: 0.5vw;
    background-color: white;
    /*margin-left: 30vw;*/
    /*margin-right: 30vw;*/
    width: 100%;

    /*border-bottom: 1px solid #e1e8ed;*/
    margin-bottom: 3px;
    cursor: pointer;
    word-wrap: break-word;
    box-shadow: 6px 6px 20px #EEEEEE;
}
.item-box:hover {
    background-color: #f0f0fa;
}

.image-box.large {
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 2vh;
}
.image-box.small {
    width: 10vw;
}
.image-box {
    display: inline-block;
    /*border: 1px solid #DDDDDD;*/
    background-color: white;
    margin: 0;
}

.image-box.small > img {
    max-height: 10vw;
}
.image-box > img {
    width: 100%;
}

.content-box {
    /*width: 39vw;*/
    display: block;
    vertical-align: top;
    margin: 0;
}

.top-row > *, .top-row > * > * {
    /*background-color: BLUE;*/
    /*width: 39vw;*/
    margin: 0;
    font-size: small;
    color: #666666;
}

.top-row > div {
    display: inline-block;
}

div.text {
    display: inline-block;
}

.text > a {
    font-size: small;
}

.time-since:before {
    content: ' - ';
}
.time-since {
    /*margin-left: 10px;*/
}

.comments-button {
    width: 4vw;
    height: 1.5vw;
    /*cursor: pointer;*/
    background-color: transparent;
    border: none;
}

.twitter > * > * > * > .author {
    font-weight: bold;
    background-color: red;
}

.twitter > * > * > * > .text {
    display: none;
}

.reddit > * > * > * > .author, .reddit > * > * > * > .author > a {
    color: #666666;
    margin-left: 0.2vw;
}

.reddit > * > * > * > .tag {
    color: #000000;
    float: left;
}

.reddit > * > * > * > .title {
    display: block;
}

.title > a {
    font-size: large;
}

.reddit {
    /*background-color: orange;*/
}

.navbar {
    padding: 5px;
}