/*TODO: import ALL css files dynamically (maybe maven filter a property) */
@import "plugin/se/johantiden/myfeed/plugin/twitter/twitter.css";
@import "plugin/se/johantiden/myfeed/plugin/reddit/reddit.css";


* {
    vertical-align:top;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EEEEEE;
    margin: 0;
}

p {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
}
a {
    color: black;
    text-decoration: none;
}

a:visited {
    /*color: black;*/
}

a:hover {
    text-decoration: underline;
}



.navbar {
    height: 30px;
    /*background-color: red;*/
    background-color: white;
    border-bottom: 1px solid #EEEEFF;
    alignment: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-box {
    padding: 8px;
    background-color: white;
    /*margin-left: 30vw;*/
    /*margin-right: 30vw;*/
    width: 100%;

    /*border-bottom: 1px solid #e1e8ed;*/
    margin-bottom: 4px;
    word-wrap: break-word;
    box-shadow: 6px 6px 20px #EEEEEE;
}

.image-box.large {
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 2vh;
}
.image-box.small {
    width: 10vw;
}
.image-box {
    display: inline-block;
    /*border: 1px solid #DDDDDD;*/
    background-color: white;
    margin: 0;
}

.image-box-image {
    width: 100%;
}


.input-box {
    /*background-color: red;*/
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 30px;
    height: 20px;
}

.read {
    background-color: #DDDDDD;
}

.read-input {
    width: 20px;
    height: 20px;
}

.content-box {
    /*background-color: green;*/
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 90%;
}

.top-row > *, .top-row > * > * {
    /*background-color: BLUE;*/
    /*width: 39vw;*/
    margin: 0;
    font-size: small;
    color: #666666;
}

.top-row > div {
    display: inline-block;
}

div.text {
    display: inline-block;
}

.text > a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: small;
}

.time-since:before {
    content: ' - ';
}
.time-since {
    /*margin-left: 10px;*/
}

.comments-button {
    width: 4vw;
    height: 1.5vw;
    /*cursor: pointer;*/
    background-color: transparent;
    border: none;
}

.title > a {
    font-size: large;
    font-weight: bold;
}

.navbar {
    padding: 5px;
}









/*HACKS - THESE SHOULD BE EITHER REMOVED OR MOVED TO PLUGIN FOLDERS*/
.slashdot > div.content-box > span.htmlContent > div,
.slashdot > div.content-box > span.htmlContent > p{
    display: none;
}


